.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #CC2D4A;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
}