.hero{
    width: 100%;
}

.sectionabout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.about{
    width:500px;
    margin: 50px;
}
.title{
font-size: 29px;
font-weight: 700;
color:#CC2D4A;    
}

.text{
    font-size: 18px;
    text-align: justify;
}

.image{
    display: flex;
}

.image img{
    width: 300px;
    margin: 15px;
}

.contador{
    margin-top: 40px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 188px;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number{
    font-size: 60px;
    font-weight: 700;
    color: #CC2D4A;
}

.textdata{
    font-size: 20px;
    font-weight: 700;
    color: #CC2D4A;
}

.footer-title{
    font-size: 35px;
    font-weight: 700;
    color: #CC2D4A;
    text-align: center;
    margin: 40px 0 60px 0;
}